File>Import, "Virtual 5D Stack...", eu.koncina.ij.V5S.OpenV5s
File>Save As, "Virtual 5D Stack ...", eu.koncina.ij.V5S.SaveV5s
File>New, "Virtual 5D Stack", eu.koncina.ij.V5S.CreateV5s
Plugins>Virtual 5D Stack, "New V5s", eu.koncina.ij.V5S.CreateV5s
Plugins>Virtual 5D Stack, "Open V5s", eu.koncina.ij.V5S.OpenV5s
Plugins>Virtual 5D Stack, "Save V5s", eu.koncina.ij.V5S.SaveV5s
Plugins>Virtual 5D Stack, "Sort V5s", eu.koncina.ij.V5S.SortV5s
Plugins>Virtual 5D Stack>ROI, "Load ROI", eu.koncina.ij.V5S.Roi.V5sToRoi
Plugins>Virtual 5D Stack>ROI, "Store ROI", eu.koncina.ij.V5S.Roi.RoiToV5s
Plugins>Virtual 5D Stack>ROI, "Remove ROI Set", eu.koncina.ij.V5S.Roi.RoiRemove
Plugins>Virtual 5D Stack>Options, "Open And Horizontally Flip V5s", eu.koncina.ij.V5S.FlipV5s
Plugins>Virtual 5D Stack>Options, "Set V5s Channel Names", eu.koncina.ij.V5S.V5sChannels